.assignments__header {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
    margin-bottom: -10px;
  }
  .assignments__header > h1 {
    margin-bottom: 0px;
    font-size: 42px;
    margin-left: 123px;
    border-bottom: 10px solid #f8e16c;
    transform: translate(-35%, 59%);
}