@import url("https://fonts.googleapis.com/css?family=Poppins");
.signin__img > img {
  width: 549px;
  height: 887px;
  transform: translate(0%, 10%);
}
#lion {
  transform: translate(37%, -357%);
  z-index: 3;
  position: absolute;
  height: 177.02px;
  width: 183.16px;
  cursor: pointer;
}
#elephant {
  transform: translate(164%, -355%);
  z-index: 3;
  position: absolute;
  height: 177.02px;
  width: 183.16px;
  cursor: pointer;
}
#rabbit {
  transform: translate(90%, -200%);
  z-index: 3;
  position: absolute;
  height: 197px;
  width: 98px;
  cursor: pointer;
}
#hippo {
  transform: translate(293%, -208%);
  z-index: 3;
  position: absolute;
  height: 175px;
  width: 115px;
  cursor: pointer;
}
#wolf {
  transform: translate(49%, -97%);
  z-index: 3;
  position: absolute;
  height: 148px;
  width: 136px;
  cursor: pointer;
}
#squireel {
  transform: translate(240%, -98%);
  z-index: 3;
  position: absolute;
  height: 136px;
  width: 136px;
  cursor: pointer;
}
.text {
  font-family: "Poppins";
  font-style: normal;
  font-size: 27px;
  color: rgb(0, 0, 0, 0.7);
  transform: translate(31%, 140%);
  z-index: 3;
  max-width: 500px;
  font-weight: bold;
  margin: 0;
  position: absolute;
}
.Ellipse32 {
  height: 25px;
  width: 25px;
  transform: translate(284%, 215%);
}
.Ellipse30 {
  height: 28px;
  width: 28px;
  transform: translate(1315%, -33%);
}
.Ellipse27 {
  height: 28px;
  width: 28px;
  transform: translate(2186%, 2803%);
}
.Ellipse28 {
  height: 25px;
  width: 25px;
  transform: translate(4994%, 2222%);
}
.Ellipse29 {
  height: 28px;
  width: 28px;
  transform: translate(3618%, 237%);
}
.Ellipse31 {
  height: 23px;
  width: 23px;
  transform: translate(2540%, 891%);
}

.logo > img {
  height: 119px;
  width: 267px;
  text-align: center;
  font-size: 30px;
  transform: translate(14%, 20%);
  margin-right: 0;
}
#lion:hover {
  height: 183.02px;
}
#elephant:hover {
  height: 183.02px;
}
#rabbit:hover {
  height: 203px;
}
#hippo:hover {
  height: 180px;
}
#wolf:hover {
  height: 153px;
}
#squireel:hover {
  height: 141px;
}
.profilestudent {
  right: 0;
}
