@import url("https://fonts.googleapis.com/css?family=Poppins");
.title__header > h1 {
  position: absolute;
  width: 630px;
  height: 186px;
  left: 387px;
  top: 143px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 93px;
  text-align: center;
}
.highlight {
  color: #f47458;
}
.title__image > img {
  width: 1079px;
  height: 811px;
  transform: translate(12%, 29%);
}
.Ellipse54 {
  height: 25px;
  width: 25px;
  transform: translate(265%, 2142%);
}
.Ellipse55 {
  height: 16px;
  width: 16px;
  transform: translate(2367%, 1021%);
}
.Ellipse56 {
  height: 20px;
  width: 20px;
  transform: translate(4650%, 0%);
}
.Ellipse57 {
  height: 25px;
  width: 25px;
  transform: translate(4269%, 1400%);
}
.Ellipse61 {
  height: 25px;
  width: 25px;
  transform: translate(4678%, 4000%);
}
.Ellipse62 {
  height: 25px;
  width: 25px;
  transform: translate(500%, 1200%);
}
.title__para > .line{
  position: absolute;
  height: 1px;
  width: 949px;
  transform: translate(20%, 74572%);
  background: rgb(0, 0, 0, 0.08);
  z-index: 3;
}
.title__para > .parahead{
  position: absolute;
  z-index: 3;
  font-size: 23px;
  color: rgb(0, 0, 0, 0.7);
  transform: translate(530%, 1980%);
  max-width: 300px;
}
.title__para > .para1{
  position: absolute;
  z-index: 3;
  color: rgb(0, 0, 0, 0.7);
  font-size: 23px;
  max-width: 300px;
  transform: translate(65%, 1142%);
  text-align: center;
}
.title__para > .para2{
  position: absolute;
  z-index: 3;
  color: rgb(0, 0, 0, 0.7);
  font-size: 23px;
  max-width: 300px;
  transform: translate(176%, 1713%);
  text-align: center;
}
.title__para > .para3{
  position: absolute;
  z-index: 3;
  color: rgb(0, 0, 0, 0.7);
  font-size: 23px;
  max-width: 300px;
  transform: translate(289%, 1137%);
  text-align: center;
}
.title__para > .batch {
  width: 96px;
  height: 137px;
  transform: translate(287%,564%);
  position: absolute;
  z-index: 3;
}
.title__para > .graph {
  width: 143px;
  height: 124px;
  transform: translate(428%,625%);
  position: absolute;
  z-index: 3;
}
.title__para > .book {
  width: 104px;
  height: 113px;
  transform: translate(929%,692%);
  position: absolute;
  z-index: 3;
}
.our__mission__content > p{
  transform: translate(86%,354%);
  max-width: 500px;
  position: absolute;
  z-index: 3;
  color: rgb(0, 0, 0, 0.7);
  font-size: 23px;
}